# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3
*.log

# Django
staticfiles/
media/
*.pyc
*.pyo
*.pyd

#Node / Vue
node_modules/
dist/
npm-debug.log*
*.lock

#Docker
postgres-data/
*.env

#IDE / OS
.vscode/
.idea/
.DS_Store
