version: '3.9'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: blog
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres-data:/var/lib/postgresql/data

  backend:
    build: ./backend
    command: sh entrypoint.sh
    volumes:
      - ./backend:/app
      - static-volume:/app/staticfiles   # <-- volume partagé pour staticfiles
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_NAME: blog
      DB_USER: user
      DB_PASSWORD: password
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"

  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static-volume:/app/staticfiles       # <-- même volume que backend
    depends_on:
      - frontend
      - backend

volumes:
  postgres-data:
  static-volume:        # <-- volume pour partager staticfiles

